/* First import my fonts */
@font-face {
    font-family: 'Mustica Pro';
    font-weight: bold;
    src: url(./fonts/MUSTICAPRO-SEMIBOLD.OTF);
}
@font-face {
    font-family: Kepler;
    font-weight: lighter;
    src: url(./fonts/KEPLERSTD-LIGHTIT.OTF);
}
@font-face {
    font-family: 'URW Geometric';
    font-weight: 800;
    src: url(./fonts/URWGEOMETRIC-HEAVY.TTF);
}
@font-face {
    font-family: 'URW Geometric';
    font-weight: normal;
    src: url(./fonts/URWGEOMETRIC-REGULAR.TTF);
}



/* And do styled */
body {
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.icon {
    height: 3em;
    vertical-align: middle;
}

header {
    grid-column: 1 / 6;
    vertical-align: middle;
    width: 100%;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #888;
}

header span {
    color: #888;
    font-size: 2em;
    vertical-align: middle;
    margin: 0 0px 0 6px;
    font-family: 'Mustica Pro';
}


h1 {
    display: inline;
    vertical-align: middle;
    font-family: 'URW Geometric';
    font-weight: normal;
}

button {
    background-color: black;
    border: 2px solid white;
    border-radius: 50px;
    padding: 8px;
    margin: 5px 0 0 auto;
    float: right;
    
    
}

button a {
    color: white;
    text-decoration: none;
    margin: 0 10px 0 5px;
    font-family: 'URW Geometric';
    font-weight: normal;
    font-size: 1em;
}

.arrow-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: white;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    margin: 4px;
    transform: rotate(45deg);    
}

.arrow-icon::before {
    content: "";
    box-sizing: border-box;
    right: 0;
    top: -2px;
    position: absolute;
    height: 2px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 20px;
    transform-origin: right top;
}

.arrow-icon::after {
    content: "";
    box-sizing: border-box;
}

.og-left {
    grid-column: 1 / 4;
}

h3 {
    margin-top: 70px;
    color: #999;
    font-family: URW Geometric;
    font-weight: normal;
}

h3 span {
    font-family: Kepler;
}

.global-icon {
    margin-top: 10px;
    margin-right: 5px;
    height: 3em;
}

h2 {
    display: inline;
    font-family: URW Geometric;
    font-weight: 800;
    font-size: 4em;
}

.og-rigth {
    grid-column: 4 / 6;
    padding: auto;
}

.og-rigth img {
    margin: 20px 10px 0 50px ;
}

.about-rocks {
    color: #999;
    font-family: Kepler;
    font-weight: lighter;
    font-size: 1.5em;
    grid-column: 1 / 4;
}

.arrow-icon2 {
    grid-column: 3 / 7;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.212);
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    margin: 30px;
    margin-top: 200px;
    margin-bottom: 50px;
    transform: rotate(135deg);    
}

.arrow-icon2::before {
    content: "";
    box-sizing: border-box;
    right: 0;
    top: -2px;
    position: absolute;
    height: 2px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 200px;
    transform-origin: right top;
}

.arrow-icon2::after {
    content: "";
    box-sizing: border-box;
}

.text {
    grid-column: 1 / 7;
    color: #ccc;
    font-family: 'Mustica Pro';
    font-size: 1.3em;
    text-align: justify;
}

.bq-2 {
    grid-column: 1 / 5;
    color: #999;
    font-family: Kepler;
    font-weight: lighter;
    font-size: 1.5em;
}

.bq-2 figcaption {
    text-align: right;
}